<!-- your html code here -->
<div class="media d-flex flex-direction-row align-content-center">
    <div class="media-body">
        <div class="d-flex">
        <h6 class="mt-0 mb-1">This First Heading</h6><h6 class="mt-0 mb-1 text-muted titulofh">Will Catch Your Eye</h6>
        </div>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor
            ligula, eget lacinia odio sem nec elit.</p>
    </div>
    <img src="https://i.ibb.co/prHcS5V/breaking-bad-1.jpg" alt="breaking-bad-1">
</div>